# Load the shared object
useDynLib(gdsfmt,
	gdsCreateGDS, gdsOpenGDS, gdsCloseGDS, gdsSyncGDS, gdsTidyUp,
	gdsGetConnection, gdsDiagInfo, gdsNodeChildCnt, gdsNodeName,
	gdsRenameNode, gdsNodeEnumName, gdsNodeIndex, gdsNodeObjDesp,
	gdsAddNode, gdsAddFolder, gdsAddFile, gdsGetFile, gdsDeleteNode,
	gdsPutAttr, gdsGetAttr, gdsDeleteAttr, gdsObjCompress,
	gdsObjCompressClose, gdsObjSetDim, gdsObjAppend, gdsObjReadData,
	gdsObjReadExData, gdsApplySetStart, gdsApplyCall,
	gdsApplyCreateSelection, gdsObjWriteAll, gdsObjWriteData,
	gdsAssign, gdsCache, gdsMoveTo, gdsIsElement, gdsLastErrGDS,
	gdsFileValid, gdsNodeValid, gdsSystem
)

# Export the following names
export(
	add.gdsn, addfile.gdsn, addfolder.gdsn, append.gdsn, apply.gdsn,
	assign.gdsn, cache.gdsn, cleanup.gds, closefn.gds, clusterApply.gdsn,
	cnt.gdsn, compression.gdsn, createfn.gds, delete.attr.gdsn, delete.gdsn,
	diagnosis.gds, get.attr.gdsn, getfile.gdsn, index.gdsn, is.element.gdsn,
	lasterr.gds, ls.gdsn, moveto.gdsn, name.gdsn, objdesp.gdsn, openfn.gds,
	print.gds.class, print.gdsn.class, put.attr.gdsn, read.gdsn, readex.gdsn,
	readmode.gdsn, rename.gdsn, setdim.gdsn, showfile.gds, sync.gds,
	system.gds, write.gdsn
)

# Import
import(methods)
